In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [83]:
immo = pd.read_csv(".\Resources\Xtrackers_FTSE_Developed_Europe_Real_Estate_UCITS_ETF_1C.csv")
print(immo)

Aktien = pd.read_csv(".\Resources\LU1681043599.csv")
print(Aktien)

Infrastruktur = pd.read_csv(".\Resources\iShares_Global_Infrastructure_UCITS_ETF.csv")
print(Infrastruktur)

Staatsanleihen = pd.read_csv(".\Resources\Xtrackers_II_-_Eurozone_Government_Bond_UCITS_ETF.csv")
print(Staatsanleihen)

Unternehmensanleihen = pd.read_csv(".\Resources\iShares_Core_Euro_Corp_Bond_UCITS_ETF_EUR.csv")
print(Unternehmensanleihen)

           Date       Open       High        Low      Close  Adj Close  Volume
0    2011-01-01  13.220000  13.280000  12.910000  12.910000  12.910000   48862
1    2011-02-01  12.980000  13.600000  12.970000  13.600000  13.600000  416484
2    2011-03-01  13.640000  13.650000  12.890000  13.410000  13.410000  757740
3    2011-04-01  13.540000  13.950000  13.240000  13.950000  13.950000  366652
4    2011-05-01  14.060000  14.420000  13.690000  14.420000  14.420000  486150
..          ...        ...        ...        ...        ...        ...     ...
121  2021-02-01  26.545000  27.200001  25.915001  26.285000  26.285000  387010
122  2021-03-01  26.540001  27.655001  26.379999  27.254999  27.254999  421132
123  2021-04-01  27.375000  28.955000  27.280001  28.504999  28.504999  222300
124  2021-05-01  28.610001  29.885000  28.049999  29.639999  29.639999  242760
125  2021-06-01  29.850000  31.055000  29.775000  29.900000  29.900000  164562

[126 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2011-01-01  119.889999    0.000000    0.000000  118.720001  118.720001
1    2011-02-01  120.010002    0.000000    0.000000  121.930000  121.930000
2    2011-03-01  120.820000    0.000000    0.000000  117.470001  117.470001
3    2011-04-01  118.430000    0.000000    0.000000  117.120003  117.120003
4    2011-05-01  116.970001    0.000000    0.000000  118.349998  118.349998
..          ...         ...         ...         ...         ...         ...
121  2021-02-01  332.570007  352.931610  332.000000  341.045685  341.045685
122  2021-03-01  344.170013  362.190002  337.309998  361.630005  361.630005
123  2021-04-01  362.700012  372.088593  362.165894  369.027893  369.027893
124  2021-05-01  369.976501  371.709991  355.790985  367.871307  367.871307
125  2021-06-01  369.153992  385.850006  367.809998  384.967804  384.967804

     Volume
0         0
1         0
2         0
3         0
4         0
..      ...
121  142943
122  182509
123  211972
124  120386
125  164252

[126 rows x 7 columns]
           Date       Open       High        Low      Close  Adj Close  Volume
0    2011-01-01  16.969999  17.280001  16.830000  16.830000  16.830000   51646
1    2011-02-01  16.930000  17.350000  16.879999  17.160000  17.160000  130828
2    2011-03-01  17.180000  17.180000  15.610000  16.280001  16.280001  103568
3    2011-04-01  16.330000  16.420000  15.960000  16.209999  16.209999   81433
4    2011-05-01  16.340000  16.559999  16.010000  16.250000  16.250000   84742
..          ...        ...        ...        ...        ...        ...     ...
121  2021-02-01  24.350000  25.225000  24.055000  24.160000  24.160000  567612
122  2021-03-01  24.155001  26.715000  24.030001  26.485001  26.485001  533088
123  2021-04-01  26.545000  26.700001  26.180000  26.590000  26.590000  577891
124  2021-05-01  26.750000  26.990000  25.825001  26.295000  26.295000  618390
125  2021-06-01  26.355000  27.309999  26.305000  26.805000  26.805000  420448

[126 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2011-01-01  166.419998  167.619995  164.770004  165.460007  165.460007
1    2011-02-01  165.300003  166.250000  164.300003  165.410004  165.410004
2    2011-03-01  165.429993  167.089996  163.960007  164.270004  164.270004
3    2011-04-01  164.210007  165.250000  163.770004  165.250000  165.250000
4    2011-05-01  164.600006  167.300003  164.539993  166.940002  166.940002
..          ...         ...         ...         ...         ...         ...
121  2021-02-01  256.989990  257.089996  250.449997  251.649994  251.649994
122  2021-03-01  252.490005  253.910004  251.199997  252.119995  252.119995
123  2021-04-01  252.270004  252.880005  249.199997  249.589996  249.589996
124  2021-05-01  249.770004  250.490005  246.110001  249.440002  249.440002
125  2021-06-01  249.259995  251.399994  248.910004  250.470001  250.470001

     Volume
0    223498
1    216702
2    427159
3    137496
4    189926
..      ...
121  192525
122  259536
123  220863
124  127363
125  142877

[126 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2011-01-01  113.440002  113.830002  113.050003  113.489998  113.489998
1    2011-02-01  113.379997  114.660004  113.379997  114.430000  114.430000
2    2011-03-01  114.449997  114.690002  113.599998  114.150002  114.150002
3    2011-04-01  114.089996  114.820000  113.339996  114.709999  114.709999
4    2011-05-01  114.709999  116.220001  114.360001  116.110001  116.110001
..          ...         ...         ...         ...         ...         ...
121  2021-02-01  135.500000  136.350006  134.029999  134.389999  134.389999
122  2021-03-01  134.509995  135.270004  134.020004  135.039993  135.039993
123  2021-04-01  134.889999  135.610001  134.360001  134.789993  134.789993
124  2021-05-01  134.789993  135.339996  133.589996  134.514999  134.514999
125  2021-06-01  134.520004  135.369995  134.410004  135.029999  135.029999

      Volume
0     267444
1      86423
2      78064
3     271282
4     381733
..       ...
121  2211292
122  1742672
123  2057039
124  1479329
125  1470947

[126 rows x 7 columns]

In [84]:
def perfBerechung(a, b):
    return (b / a) - 1


def Jahresperformance(df):
    adj_close = df["Adj Close"].tolist()
    jahres_pf = []
    for index in range(0, len(adj_close)-12):
        jahres_pf.append(perfBerechung(adj_close[index], adj_close[index + 12]))
    return jahres_pf


def BondJahresperformance(SA, UA):
    jahrP_SA = Jahresperformance(SA)
    jahrP_UA = Jahresperformance(UA)
    jahrP_bond = [(0.75*sa)+(0.25*ua) for sa,ua in zip(jahrP_SA,jahrP_UA)]
    return jahrP_bond

In [85]:
immo_jahrP = Jahresperformance(immo)
aktien_jahrP = Jahresperformance(Aktien)
infrastruktur_jahrP = Jahresperformance(Infrastruktur)
anleihen_jahrP = BondJahresperformance(Staatsanleihen, Unternehmensanleihen)

In [86]:
df_jahrP = pd.DataFrame({
    'Immobilien': immo_jahrP,
    'Aktien': aktien_jahrP,
    'Infrastruktur': infrastruktur_jahrP,
    'Anleihen': anleihen_jahrP
})

     Immobilien    Aktien  Infrastruktur  Anleihen
0     -0.050349  0.012803      -0.035651  0.044996
1     -0.091176  0.011892      -0.048368  0.061465
2     -0.038777  0.068273       0.017199  0.069293
3     -0.078136  0.065659       0.017890  0.062716
4     -0.111650  0.031348       0.028308  0.061305
..          ...       ...            ...       ...
109   -0.089224  0.193081      -0.071126 -0.004671
110    0.212951  0.418268       0.140857  0.031772
111    0.222603  0.321516       0.082434  0.015408
112    0.254869  0.286996       0.053908  0.009667
113    0.247393  0.324051       0.109478  0.003209

[114 rows x 4 columns]

## Erwartungswert

In [91]:
df_jahrP.std(ddof=0)

Immobilien       0.136271
Aktien           0.100077
Infrastruktur    0.104790
Anleihen         0.037594
dtype: float64

In [92]:
df_jahrP.corr().round(4)

               Immobilien  Aktien  Infrastruktur  Anleihen
Immobilien         1.0000  0.7414         0.5621    0.4706
Aktien             0.7414  1.0000         0.6316    0.3037
Infrastruktur      0.5621  0.6316         1.0000    0.5522
Anleihen           0.4706  0.3037         0.5522    1.0000

In [94]:
df_jahrP.mean()

Immobilien       0.086326
Aktien           0.123459
Infrastruktur    0.051368
Anleihen         0.038911
dtype: float64

# Z-wert 95% 1,645 / Zwert 99% 2,326